<div class="sideshadow">
  <div class="sideblock">
    <div class="title">Releases</div>
    <ul>
      <li><%= link_to('Next Week', next_release_path(@date)) %></li>
      <li><%= link_to('Previous Week', prev_release_path(@date)) %></li>
    </ul>
  </div>
</div>