<% if flash.empty? -%>
  <div id="flash" class="alert" style="display: none"></div>
<% else -%>
  <% flash.each do |key, value| -%>
    <div id="flash" class="alert <%= key %>">
      <%= value %>
    </div>
  <% end -%>
<% end -%>
